body {
  color: yellow;
  font-family: Times New Roman;
  font-size: 130%;
  font-style: normal;
  text-align: center;
  margin: 100px;
  background-color: coral;
}
img { 
border-radius: 8px;
align-content: left;
}
#middle{
	align-content:center;
}
span {
	color: yellow;
	font-family: Script MT;
	font-size: 100%;
}
h2 {
font-size: 250%;
color: #FDCE2A ;
}
p {
	font-size:100%;
}